---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wedding">
  <main class="flex min-h-screen items-center justify-center">
    <h1 class="text-4xl font-bold text-gray-900">Wedding App</h1>
  </main>
</Layout>
